// Colors from UBC Visual Identity:
// https://assets.brand.ubc.ca/downloads/ubc_colour_guide.pdf


$color_blue: #002145;
$color_white: #fff;



$color_blue_2: #0055B7;
$color_blue_2: #00A7E1;
$color_blue_2: #40B4E5;
$color_blue_2: #6EC4E8;

$color_blue_lightest: #97D4E9;
